.popup__image{
    position: relative;
    max-width: 80vw;
    max-height: 80vh;
    
  }
  @media screen and (max-width: 540px) {
    .popup__image {
      width: calc(100% - 60px);
    }
  }
  .popup__image-content{
 
  
    position: relative;

  }
